body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button{
  color: yellow;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.button1{
  color: yellow;
  position: fixed;
  top: 40px;
  left: 10px;
}

.button2{
  color: yellow;
  position: fixed;
  right: 70px;
  right: 10px;
}

.background{
  background-color: yellowgreen;
}

.text{
  color: yellow;
}